{% extends 'base.html' %}

{% block content %}
    <section class="latest-posts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Últimos posts</h2>
                    <ul id="post-list"></ul>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'post-list' %}",
                type: 'GET',
                success: function(response) {
                    var posts = response;
                    var postList = $('#post-list');
                    for (var i = 0; i < posts.length; i++) {
                        var post = posts[i];
                        var listItem = $('<li>');
                        listItem.append('<h3>' + post.title + '</h3>');
                        listItem.append('<p>' + post.content + '</p>');
                        listItem.append('<p>Fecha de creación: ' + post.date_created + '</p>');
                        postList.append(listItem);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}
